html{
    background-color:skyblue;
}

h1{
    background-color:beige;
    color: rgb(12, 26, 32);
    border: 2px solid rgb(12, 26, 32);
    text-align: center;
}

h2{
    background-color:whitesmoke ;
}

.may{
    text-align: center;
    color:black;
    margin-inline-start:0%;
    margin-inline-end: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
    border:2px solid rgb(12, 26, 32);
    background-color:rgb(19, 65, 109);
}

#sunday{
    width: 60px;
}

.june{
    color:black;
    background-color: rgb(189, 166, 37) ;
    border:2px solid ;
    margin-inline-start: 0% ;
    margin-inline-end: 90%;
    margin-bottom: 5px ;
    margin-top: 5px ;
    text-align: center ;
}

#monday{
    width:60px;
}




